{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Yourtube{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ render_form(form) }}
            </div>
        </div>
    </div>
    <div class="container mt-2">
        {% for video in videos %}
            <div class="row my-2">
                <div class="col-auto">
                    <img src="{{video.thumbnail}}"/>
                </div>
                <div class="col">
                    {{ video.channelTitle }}<br/>
                    <a target="external" href=https://youtube.com/watch?v={{video.id}}>
                        {{ video.title }}
                    </a><br/>
                    ({{ video.duration }}) [{{ video.publishedAt }}]
                </div>
            </div>
         {% endfor %}
    </div>
{% endblock %}
